.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{

    display: flex;
    gap: 1.25rem;
}


.menu a {
    color: #484848;
    font-size: 1.25rem;
    background-color: #f1f1f1;
    padding: 10px 20px;
    border-radius: 5px;
}

.menu a:hover{
    background-color: rgb(46, 46, 46);
    color: #fff;
}

@media screen and (max-width:840px) {
    .header{
        flex-direction: column;
        
    }

    .menu{

        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding-top: 10px;
    }

    .menu li{
        padding-top: 20px;
    }


}


/* @media screen and (max-width:420px) {

    .header{
        justify-content: space-around
    }
    .menu{
        flex-direction: row;
        gap: 15px;
        flex-wrap: wrap-reverse

    }

    .menu a{
        background-color: aqua;
        padding: 5px;

    }


}

     */